body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
    transition: background-color 0.5s;
}

h1 {
    margin-top: 50px;
    color: #61dafb;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #21a1f1;
}

